<div class="card mb-3 packCard" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4 packImgContainer">
      <ng-container *ngIf="!packImg; else elseBlock">
        <app-img [src]="defaultImg" [alt]="packTitle" [title]="packTitle" [class]="image['class']"></app-img>
      </ng-container>
      <ng-template #elseBlock>
        <div id="packImage">
          <app-img [src]="packImg" [alt]="packTitle" [title]="packTitle" [class]="image['class']"></app-img>
        </div>
      </ng-template>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <!-- class="card-title" -->
        <a [routerLink]="['/pack/',slug,id]" (click)="addVisit()"> 
          <app-title [size]=6 [content]="packTitle" [class]="title['class']"></app-title>
        </a>
        <div class="packInfo">
          <p>Creado: <strong>{{created_at}}</strong></p>
          <p>Visitas: <strong>{{visits}}</strong></p>
          <p>Materiales: <strong>{{materials}}</strong></p>
        </div>
      </div>
    </div>
    <ng-container *ngIf="introduction">
      <p class="card-text" class="packIntro"> {{introduction}}</p>
    </ng-container>
  </div>
</div>