<nav aria-label="Page navigation">
  <ul class="pagination justify-content-center">
    <li class="page-item">
      <a *ngIf="(actualPage-1) > 0" (click)="getNewPage(actualPage-1)" class="page-link">Anterior</a>
    </li>
    <li class="page-item" *ngFor="let page of pages">
      <a (click)="getNewPage(page)" class="page-link">{{ page }}</a>
    </li>
    <li class="page-item">
      <a *ngIf="(actualPage+1) <= pages.length" (click)="getNewPage(actualPage+1)" class="page-link">Siguiente</a>
    </li>
  </ul>
</nav>